# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto

# server auth directory
/server

# directory configuration
.dir-locals.el

# network security
/network-security.data

/url
/bookmarks
/org-persist

# emojis
/emojis
/.stignore
/forge-database.sqlite
/elisp-autofmt-cache/
/project-window-list
/*.sqlite
/var/
/eln-cache/
/tree-sitter/
/etc/
/elpa/
/history
/recentf
/transient/
/lisp/secrets.el
/eca/
